service: aws-lambda-infra-functions

provider:
  name: aws
  runtime: nodejs6.10
  stage: qa

package:
  exclude:
    - .git/**
    - coverage/**
    - .nyc_output/**
    - packages/**
  excludeDevDependencies: true

functions:
  execGraphql:
    handler: lambda.execGraphql
  sqsToGraphql:
    handler: lambda.sqsToGraphql
